@import url("https://fonts.googleapis.com/css2?family=Spartan:wgt@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Spartan",sans-serif;
}

html{
    scroll-behavior: smooth;
}


h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}

/* header start */
.Logo{
    height: 9vh;
    width: max-content;
    align-items: flex-start;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* background-color: #98f2ee; */
    background-image: linear-gradient(to right, #edf8f8 , rgb(102, 250, 245),rgb(34, 212, 159));
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;    
    top: 0;
    left: 0;
    position: sticky;
    height: 10vh;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,#navbar li a.active{
    color: #0ec165;
}

#navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #0ec165;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home page */
#hero{
    background-image: url("Images/Model\ landscape.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% left 0 ;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
    font-size: 250%;
}
#hero h1{
    color: #0ec165;
    font-size: 600%;
    padding-top: 20px;
}
#hero h2{
    font-size: 400%;
    
}
#hero p{
    font-size: 200%;
}
.btn{
    border: 2px solid #05522afe;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px;
    font-style: bold;
    /* font-family: "montserrat"; */
    cursor: pointer;
    margin: 10px;
    margin-top: 400px;
    margin-bottom: 60px;
    color: #05522afe;
    transition: 0.8s;
    position: absolute;
    overflow: hidden;
}

.btn:hover{
    color: #048743; 
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #048743;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn:hover::before{
    height: 180%;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 270px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #063c0b4b;
    border-radius: 4px;
    margin: 15px 0;
}


#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.3);
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #048743;
    background-color: #22f7f04a;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #d2174333;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #004ddd44;
}

#feature .fe-box:nth-child(4) h6{
    background-color: rgba(215, 190, 25, 0.614);
}
#feature .fe-box:nth-child(5) h6{
    background-color: #15a81c68;
}
.f1, .f2, .f3, .f4, .f5, .f6{
    width: 210px;
    height: 250px;
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro-container .cart-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;;
    color:#04d669d7;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 40px;
    right: 40px;
    
}

#product1 img{
    width: 100%;
    height: 60%;

}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    min-height: min-content;
    padding: 10px 12px;
    border: 1px solid #063c0b4b;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.276);
} 
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 15px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: #a18920;
}


#product1 .pro .des h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #1a5f3c;

}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(Images/Banner.png);
    width: 100%;
    height: 50vh;
    background-size: cover top;
    background-position: center;
}

#banner h4{
    color: #f88358;
    font-size: 140%;
    font-family: sans-serif;
}
#banner h2{
    color: #238110;
    font-size: 40px;
}

#banner h2 span{
    color: rgb(241, 113, 33);
}

.btn2{
    border: 1px solid #05522afe;
    background-color: #048743;
    padding: 10px 20px;
    font-size: 20px;
    font-style: bold;
    /* font-family: "montserrat"; */
    cursor: pointer;
    margin: 10px;
    color: #ebfff4;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn2:hover{
    color: #05522afe; 
    background-color: transparent;
}


#sm-banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(Images/Banner-2.jpg);
    width: 600px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-left: 30px;
} 

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .box-2{
    background: url(Images/Plant.png);
    background-size: cover;
    background-position: right;
    
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(Images/Flowers.jpg);
    width: 30%;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 50px; 
    margin-bottom: 20px;  
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #fff700;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(Images/School\ kids.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center top;
    padding: 50px; 
    margin-bottom: 20px;  
}

#banner3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(Images/indoor\ plant.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center left;
    padding: 50px; 
    margin-bottom: 20px;  
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url(Images/banner-4.png);
    background-size: cover;
    background-position: 20% 30%;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    position: relative;
    margin-bottom: 40px;
}

#newsletter h4{
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: 818ea0;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);

}
#newsletter span{
    color: #048743;
}
#newsletter input{
    height: 3rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter button{
    background-color: #048743;
    color: #fff;
    white-space: nowrap;
    padding: 5px 20px 5px 20px;
    border: #048743;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
#newsletter button:hover{
    background-color: #06f278;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 24%;
}

footer .Logo{
    margin-bottom: 10px;
}

footer h4{
    font-size: 18px;
    padding-bottom: 10px;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}
footer p{
    font-size: 13px;
    margin: 0 0 5px 0;
}

footer .follow{
    margin-top: 10px;
}


footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #011c0e;
    border-radius: 6px;
    padding: 0;
}

footer .follow i:hover, footer a:hover{
    color: #048743;
}

.copright p{
    width: 100%;
    text-align: center;
}

/* SHOP PAGE */
#page-header{
    background-image: url("Images/shopnow.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #048743;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover{
    background-color: #0bc665;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 60%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.small-img{
    height:100%;
    border: #091810;
    border-radius: 10px;
}

.small-img:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.276);
}

#prodetails .single-pro-details{
    width: 50%;
    padding: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details h6{
    font-size: 15px;
    color: rgb(193, 62, 1);
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}
#prodetails .single-pro-details button{
    background: #048743;
    color: #fff;
    width: 50%;
    height: 47px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
}

#prodetails .single-pro-details button:hover{
    background: #17ef7f;
}
#prodetails .single-pro-details span{
    line-height: 25px;
    font-family:sans-serif;
    width: 50%;
    font-size: 18px;
}


/* BLOG PAGE */

#blog-header{
    background-image: url("Images/Blog.png");
    width: 100%;
    height: 102vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#blog{
    padding: 150px 150px 0px 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.014);
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #048743;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #064a27;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #03ff7d;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* CONTACT HEADER */

#contact-header{
    background-image: url("Images/contactus.png");
    width: 100%;
    height: 102vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2, #form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #033a1e4b;
    background-color: #d0ecd34d;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input, #form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 5px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3, #Subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#Subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e1e1e1;
    padding: 30px;
}

#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#Subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#cart-heading{
    color: #1c231eb8;
    text-align: center;
}